 *{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
 }
 body{
    background: crimson;

 }
 .card{
    width: 700px;
    background: white;
    padding: 20px;
    margin: 20px;
    line-height: 28px;
    font-family: sans-serif;
 }

 ::-webkit-scrollbar{
    background-color: red;
 }